<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bujo HomePage</title>
    <style>
    #header{
    width:100vw;
    height: 15vh;
    background-color: black;
    text-align: center;
}

#header *{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
  
}

#header a{
    font-size: 1.5rem;
}
    </style>
</head>
<body>


    <header id="header">
        <h2>Bujo</h2>
        <a href="">Home</a>
        <a href="journal.html">New Journal</a>
        <a href="">Exit</a>
    </header>

    
</body>
</html>